DATABASE_URL="file:./dev.db"
GROQ_API_KEY=""
GROQ_BASE_URL="https://api.groq.com/openai/v1"
GROQ_MODEL="llama-3.3-70b-versatile"
NEXT_PUBLIC_SUI_NETWORK="testnet"
NEXT_PUBLIC_TASKSUI_PACKAGE_ID=""
NEXT_PUBLIC_TASKSUI_MARKETPLACE_ID=""
NEXT_PUBLIC_TASKSUI_TREASURY_OR_ADMIN=""
