DATABASE_URL="file:./dev.db"
GROK_API_KEY=""
GROK_BASE_URL="https://api.x.ai"
NEXT_PUBLIC_SUI_NETWORK="testnet"
NEXT_PUBLIC_TASKSUI_PACKAGE_ID=""
NEXT_PUBLIC_TASKSUI_MARKETPLACE_ID=""
NEXT_PUBLIC_TASKSUI_TREASURY_OR_ADMIN=""
